<html>
	<head>
		<title><%= @sign_text %> - Трудовак</title>
		<link 
			rel="stylesheet"
			type="text/css"
			href="/css/style.css">
		<script src="/javascript/ZeroClipboard.js"></script>

		<script 
			src="/javascript/scripts.js"
			type = "text/javascript"></script>
	</head>
	<body>

		<h1 class="<%= @sign_colour %>-sign tabelka-text" style="font-family: <%= @sign_font %>">
			<%= @sign_text %>
		</h1>
		<p>
		<input type = "text" name = "copy-field" id = "copy-field" value = "<%= @sign_link %>">
		<button type="button" data-clipboard-text="<%= @sign_link %>" id="copy-button" value="fdsd">Свръзка</button>|
			<a href="/fullscreen/<%= @sign_colour %>/<%= @sign_font %>/<%= URI.escape(@sign_text) %>" target="_blank">На цял екран</a>
		</p>

	</body>
</html>
