<html>
	<head>
		<title><%= @sign_text %> - Трудовак</title>
		<link 
			rel="stylesheet"
			type="text/css"
			href="/css/style.css">
	</head>
	<body>
		<h1 class="<%= @sign_colour %>-sign tabelka-text" style="font-family: <%= @sign_font %>"><%= @sign_text %>
		</h1>
		<p>
			<a href=" <%= @sign_link %>">Свръзка</a> |
			<a href="/fullscreen/<%= @sign_colour %>/<%= @sign_font %>/<%= URI.escape(@sign_text) %>" target="_blank">На цял екран</a>
		</p>
	</body>
</html>
