<html>
	<head>
		<title><%= @sign_text %> - Трудовак</title>
		<link 
			rel="stylesheet"
			type="text/css"
			href="/css/style.css">
		<script src="/javascript/scripts.js"></script>
	</head>
	<body>
		<p>
			<a href=" <%= @sign_link %>">Свръзка</a> |
			<a href="/s/<%= @sign_colour %>/<%= @sign_font %>/<%= CGI.escape(@sign_text) %>?fullscreen=on" target="_blank">На цял екран</a>
		</p>
		<div id = "tabelka-wrapper" class="<%= @sign_colour %>-sign tabelka-text">
			<h1 id = "tabelka-text" style="font-family: <%= @sign_font %>"><%= @sign_text %></h1>
		<div>
	</body>
</html>
